[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torchvision = "*"
torch = "*"
matplotlib = "*"
fastapi = "*"
python-multipart = "*"
prometheus-fastapi-instrumentator = "*"

[dev-packages]

[requires]
python_version = "3.9"
